body {
  background-color: rgb(57, 62, 70);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.card {
  background-color: rgb(57, 62, 70);
  color: rgb(238, 238, 238);
  padding: 100px 0; 
  width: 80%;
  height: 90vh;
  margin: auto;
  overflow: hidden;
}

.card-title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  transition: top 0.3s ease;
}

.btn-container {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: calc(50% + 40px);
  left: 0;
  right: 0;
  transition: top 0.3s ease;
}

.container.image-uploaded .card-title {
  top: 40px;
}

.container.image-uploaded .btn-container {
  top: calc(100% - 40px);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  background-color: rgb(0, 173, 181);
  transition: background-color 0.3s ease;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: rgb(31, 125, 132);
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #27bc92;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #206e51;
}

.card-img-top {
  margin-bottom: 40px;
}

.class-color-map {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.class-color-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.color-rectangle {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.card-subtitle.text-muted {
  color: white  !important; /* Set the color to white */
}
